

<script type="text/javascript">
    $(document).ready(function () {

        $("li.task-item").click(function () {
            addRecipe($(this).attr("id"), ${newrecipe.id});
            $(this).find(".title").html("${newrecipe.title}");
        });
    });

    function addRecipe(day, recipeId) {
        $.ajax({

     				   type: "POST",
     				   url: "/menus/planrecipeByDay",
     				   data: "recipeId=" + recipeId + "&day="+day,
     				   dataType: "xml"
     			    });
    }


</script>



<div id="visMeny">
    <div class="whitetext toppOverskrift">Meny for
        uke ${menu!=null?utils.DateUtil.weekOfYear(menu.usedFromDate):'?'}</div>

    <br/>

    <!-- START Recipe item -->
    <div class="task-list">
        <div class="grouped-tasks" rel="inbox">
            <ol class="tasks" id="menu-tasks" style="padding-left:0px;">
                #{list items:0..6, as:'i'}

                        <li class="task-item" id="${i}">
                            <div class="task-body"><a class="check-trash"><span
                                    class="icon check-trash"></span></a>
                                <a class="icon task-separator"></a>
                                <a class="duedate">${utils.DateUtil.dayOfWeek(i)}</a>
                                <a class="icon task-separator2"></a>

                                <div class="title-wrapper"><span
                                        class="title">
                                    ${menu.getRecipeForDay(i) != null?menu.getRecipeForDay(i).title:''}</span>
                                </div>


                            </div>

                        </li>


                #{/list}

            </ol>

        </div>
    </div>






</div>
<!-- END velgDager -->

<div class="margin-bottom:20px;"/>

<div class="buttonRow">
#{if menu!=null}

    <a class="fancyButtonLink" href="@{Menus.showLastWeek(menu.id)}" id="tilForrige">
        <div class="smallButton wrapper">
            <span>Forrige uke</span>
        </div>
    </a>
    <a class="fancyButtonLink" href="@{Menus.showNextWeek(menu.id)}" id="tilNeste">
        <div class="smallButton wrapper">
            <span>Neste uke</span>
        </div>
    </a>
#{/if}
</div>