#{extends 'masterMobileMega.html' /}

<div data-role="page" id="visMeny">
#{headerMobile /}
    <div data-role="content">
        <h1>Historikk</h1>


    #{set countMenus = 0 /}
        <ul data-role="listview" data-divider-theme="b" data-inset="false">
        #{list items:menus, as:'menu'}
            #{if menu != null && menu.recipesInMenu != null && menu.recipesInMenu.size() > 0 }
                <li data-theme="c">
                    <a href="@{Menus.showMobile(menu.id)}" data-transition="slide">
                        Uke ${menu!=null && menu.usedFromDate != null?utils.DateUtil.weekOfYear(menu.usedFromDate):'?'}
                        <span class="datospenn">(${utils.DateUtil.prettyDate(menu.usedFromDate)}
                            - ${utils.DateUtil.prettyDate(utils.DateUtil.addDays(menu.usedFromDate,6))})</span>
                    </a>
                </li>


            #{/if}
        #{/list}
        </ul>


    </div>
#{footerMobile /}


</div>



