#{extends 'master.html' /}




<div id="visMeny">
    <div class="whitetext toppOverskrift">Menyer</div>


#{list items:menus, as:'menu'}
#{if menu != null && menu.recipesInMenu != null && menu.recipesInMenu.size() > 0 }

    <div class="skilleheader"><a class="text" href="@{Menus.show(menu.id)}">Meny for
        uke ${menu!=null && menu.usedFromDate != null?utils.DateUtil.weekOfYear(menu.usedFromDate):'?'}</a>
    <span class="datospenn">${utils.DateUtil.prettyDate(menu.usedFromDate)} - ${utils.DateUtil.prettyDate(utils.DateUtil.addDays(menu.usedFromDate,6))}</span>
    </div>

    <!-- START Recipe item -->
    <div class="task-list">
        <div class="grouped-tasks" rel="inbox">
            <ol class="tasks" id="menu-tasks" style="padding-left:0px;">
                #{list items:0..6, as:'i'}
                    #{if menu.getRecipeForDay(i) != null}

                        <li class="task-item" id="${menu.getRecipeForDay(i).id}">
                            <div class="task-body"><a class="check-trash"><span
                                    class="icon check-trash"></span></a>
                                <a class="icon task-separator"></a>


                                <a class="duedate">${utils.DateUtil.dayOfWeek(utils.DateUtil.addDays(menu.usedFromDate, i))}</a>
                                <a class="icon task-separator2"></a>

                                <div class="title-wrapper"><span
                                        class="title">
                                    <a href="@{Recipes.show(menu.getRecipeForDay(i).id)}">${menu.getRecipeForDay(i).title}</a></span>
                                </div>


                            </div>

                        </li>


                    #{/if}


                #{/list}

            </ol>

        </div>
    </div>



#{/if}
#{/list}


</div>
<!-- END velgDager -->

<div class="margin-bottom:20px;"/>

