#{extends 'master.html' /}


<script type="text/javascript">
    $(document).ready(function () {

        $("a.check-trash").click(function () {
            removeRecipe($(this).parent().parent().attr("id"));
            $(this).parent().parent().detach();
        });
    });

    function removeRecipe(recipeId) {
        $.ajax({
            type: "POST",
            url: "/menus/unplanrecipefrommenu",
            data: "menuId=${menu.id}" + "&recipeId=" + recipeId ,
            dataType: "xml"

        });
    }


</script>



<div id="visMeny">
    <div class="whitetext toppOverskrift">Meny for
        uke ${menu!=null?utils.DateUtil.weekOfYear(menu.usedFromDate):'?'}</div>

    <br/>

    <!-- START Recipe item -->
    <div class="task-list">
        <div class="grouped-tasks" rel="inbox">
            <ol class="tasks" id="menu-tasks" style="padding-left:0px;">
                #{list items:0..6, as:'i'}
                    #{if menu.getRecipeForDay(i) != null}

                        <li class="task-item" id="${menu.getRecipeForDay(i).id}">
                            <div class="task-body"><a class="check-trash"><span
                                    class="icon check-trash"></span></a>
                                <a class="icon task-separator"></a>


                                <a class="duedate">${utils.DateUtil.dayOfWeek(utils.DateUtil.addDays(menu.usedFromDate, i))}</a>
                                <a class="icon task-separator2"></a>

                                <div class="title-wrapper"><span
                                        class="title">
                                    <a href="@{Recipes.show(menu.getRecipeForDay(i).id)}">${menu.getRecipeForDay(i).title}</a></span>
                                </div>


                            </div>

                        </li>


                    #{/if}


                #{/list}

            </ol>

        </div>
    </div>






</div>
<!-- END velgDager -->

<div class="margin-bottom:20px;"/>

<div class="buttonRow">
#{if menu!=null}
    <a class="fancyButtonLink" href="@{ShoppingLists.list(menu.id)}" id="tilHandlelappen">
        <div class="smallButton wrapper">
            <span>Lag handlelapp</span>
        </div>
    </a>
    <a class="fancyButtonLink" href="@{ShoppingLists.show(menu.id)}" id="visHandlelappen">
        <div class="smallButton wrapper">
            <span>Vis handlelapp</span>
        </div>
    </a>
    <a class="fancyButtonLink" href="@{Menus.showLastWeek(menu.id)}" id="tilForrige">
        <div class="smallButton wrapper">
            <span>Forrige uke</span>
        </div>
    </a>
    <a class="fancyButtonLink" href="@{Menus.showNextWeek(menu.id)}" id="tilNeste">
        <div class="smallButton wrapper">
            <span>Neste uke</span>
        </div>
    </a>
#{/if}
</div>