#{extends 'masterMobileMega.html' /}




<div data-role="page" id="visMeny" data-menu-id="${menu!=null?menu.id:''}">
#{headerMobile /}
    <div data-role="content">
        <h1>Meny for
                uke ${menu!=null?utils.DateUtil.weekOfYear(menu.usedFromDate):'?'}</h1>


        <ul data-role="listview" data-divider-theme="b" data-theme="b" data-inset="true">
                                #{list items:0..6, as:'i'}

                                        <li data-theme="c" class="task-item" id="${menu.getRecipeForDay(i) != null?menu.getRecipeForDay(i).id:''}">
                                            <div class="task-body"><a class="check-trash"><span
                                                    class="icon check-trash"></span></a>
                                                <a class="icon task-separator"></a>


                                                <a class="duedate">${utils.DateUtil.dayOfWeek(utils.DateUtil.addDays(menu.usedFromDate, i))}</a>
                                                <a class="icon task-separator2"></a>

                                                <div class="title-wrapper"><span
                                                        class="title">
                                    #{if menu.getRecipeForDay(i) != null}
                                        <a data-transition="slide" href="@{Recipes.showMobile(menu.getRecipeForDay(i).id)}">${menu.getRecipeForDay(i).title}</a>
                                    #{/if}
                                                    #{else }
                                                        <a data-transition="slide" href="#">&nbsp;</a>
                                                    #{/else}

                                                </span>
                                                </div>
                                            </div>
                                        </li>

                                #{/list}
        </ul>


    #{if request.action == "Menus.showNextWeekMobile" || request.action == "Menus.showThisWeekMobile" }
        #{if menu.shoppingList!=null }
            <a data-role="button" data-icon="check" data-iconpos="right" href="@{ShoppingLists.showMobile(menu.id)}">
                 Handlelapp for meny
             </a>
        #{/if}
        #{else }
            <a data-role="button"  data-icon="check" data-iconpos="right" href="@{ShoppingLists.listMobile(menu.id)}">
                 Handlelapp for meny
             </a>
        #{/else}
    #{/if}
    #{else }
        <a href="#popupPanel" data-icon="plus" data-iconpos="right" data-rel="popup" data-transition="slide" data-position-to="window" data-role="button">Bruk</a>
    #{/else}



    </div>
#{footerMobile /}


</div>


