#{extends 'masterMobile.html' /}

<div data-role="dialog">

		<div data-role="header" data-theme="d">
			<h1>Logg inn</h1>

		</div>

		<div data-role="content" data-theme="c">

            <form action="@{authenticate()}">
            				<div style="padding:10px 20px;">
            		          <label for="username" class="ui-hidden-accessible">Epost:</label>
            		          <input type="text" name="user" id="username" value="" placeholder="username" data-theme="a" />

            		          <label for="password" class="ui-hidden-accessible">Password:</label>
            		          <input type="password" name="pass" id="password" value="" placeholder="password" data-theme="a" />

            		    	  <button type="submit" data-theme="b">Logg inn</button>
            				</div>
            			</form>



		</div>
	</div>


