#{extends 'admin.html' /}

#{ifnot menu?.id}
<h3>Legg inn <span>en ny ukemeny</span></h3>
#{/ifnot}
#{else}
<h3>Rediger <span>meny</span></h3>
#{/else}


#{form @saveMenu(menu?.id)}
 
    #{ifErrors}
        <p class="error">
            Vennligst rett opp disse feilene.
        </p>
    #{/ifErrors}
     



<p>
    #{list items:menu?.recipesInMenu, as:'recipeInMenu'}

        #{field 'usedForDays'}
            <label>Dag:</label>
            <select name="${field.name}">
                #{list items:0..(models.MenuDay.values().length-1), as:'i'}
                    <option ${recipeInMenu.usedForDay.compareTo(models.MenuDay.values()[i])==0?"selected='true'":""} value="${models.MenuDay.values()[i]}">${models.MenuDay.values()[i]}</option>
                #{/list}
            </select>
        #{/field}

         #{field 'recipes'}
            <label>Oppskrift:</label>
             <input type="text" name="${field.name}" value="${recipeInMenu.recipe.id}" />
        #{/field}


    #{/list}
</p>
<p>

        #{field 'usedForDays'}
            <label>Dag:</label>
            <select name="${field.name}">
                <option value="${models.MenuDay.Mandag}">${models.MenuDay.Mandag}</option>
                <option value="${models.MenuDay.Tirsdag}">${models.MenuDay.Tirsdag}</option>
                <option value="${models.MenuDay.Onsdag}">${models.MenuDay.Onsdag}</option>
                <option value="${models.MenuDay.Torsdag}">${models.MenuDay.Torsdag}</option>
                <option value="${models.MenuDay.Fredag}">${models.MenuDay.Fredag}</option>
                <option value="${models.MenuDay.Lørdag}">${models.MenuDay.Lørdag}</option>
                <option value="${models.MenuDay.Søndag}">${models.MenuDay.Søndag}</option>
            </select>
        #{/field}

         #{field 'recipes'}
            <label>Oppskrift nr:</label>
             <input type="text" name="${field.name}" />
        #{/field}


</p>


</p>





    <p>
        <input type="submit" value="Lagre meny" />
    </p>
    
#{/form}