#{extends 'masterMobileMega.html' /}



<!--<script src="@{'/public/javascripts/upload/vendor/jquery.ui.widget.js'}" xmlns="http://www.w3.org/1999/html"></script>
-->
<!--
<script src="@{'/public/javascripts/upload/jquery.iframe-transport.js'}"></script>
<script src="@{'/public/javascripts/upload/jquery.fileupload.js'}"></script>
-->


<!--<script src="@{'/public/javascripts/tag-it.min.js'}"></script>
-->


<!--
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css" id="theme">
<link rel="stylesheet" href="http://blueimp.github.com/jQuery-File-Upload/css/jquery.fileupload-ui.css">

<link rel="stylesheet" href="@{'/public/stylesheets/spinner.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/jquery.tagit.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/tagit.ui-kokboka.css'}">
-->


<div data-role="page" id="editRecipe" data-recipe-id="${recipe?.id}">
#{headerMobile /}
    <div data-role="content">


        <div class="addtask" style="">
            <input type="text" name="title"
                   value="${recipe?.title}" id="title" class="transparent mousetrap"
                   key-placeholder="placeholder_title_$" data-placeholder="title" placeholder="Tittel"
                   style="font-size: 20px;"/>
        </div>


        <div class="addtask" style="">
            <textarea name="description" rows="5"
                      value="${recipe?.description}" id="description" class="transparent mousetrap"
                      key-placeholder="placeholder_title_$" data-placeholder="description"
                      placeholder="Beskriv oppskriften her" style="font-size: 14px;">${recipe?.description}</textarea>
        </div>


        <div class="taggListe">
            <div class="tagger">
        #{if recipe.tags != null && recipe.tags.size() > 0}
            <span class="tagButton">Tagget med</span>
            #{list items:recipe?.tags, as:"tag"}
                <span class="tagButton">
                        <a data-role="button" data-theme="c" data-icon="delete"
                           data-iconpos="right" href="#">
                            <span class="tagit-label">${tag.name}</span>

                        </a>
                            </span>&nbsp;
            #{/list}
        #{/if}
            </div>
            <span>
                <input id="add-tag-input" type="text"
                       class="transparent mousetrap"
                       maxlength="25"
                       placeholder="ny tag"/>
                        </span>

            <ul class="suggestions" id="tagSuggestions" data-role="listview" data-inset="true">
            </ul>
        </div>


        <div class="addtask">
            <form id="fileupload" action="@{Images.file()}?id=${recipe.id}" method="POST"
                  enctype="multipart/form-data">
                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                <noscript><input type="hidden" name="redirect"
                                 value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                <div class="row fileupload-buttonbar">
                    <div class="span7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                 <span class="btn btn-success fileinput-button">
                     <i class="icon-plus icon-white"></i>
                     <span>Legg til nytt bilde</span>
                     <input id="thefile" type="file" name="file" data-url="@{Images.file()}?id=${recipe.id}">
                 </span>
                    </div>
                    <!-- The global progress information -->
                </div>
                <!-- The loading indicator is shown during file processing -->
            </form>


            <div class="recipeBilde">
                <div class="preview" style="">
                    <div id="floatingBarsG"
                         style="display: none; margin-left: auto; margin-right: auto; margin-top: 132px; margin-bottom: 130px;">
                        <div class="blockG" id="rotateG_01"></div>
                        <div class="blockG" id="rotateG_02"></div>
                        <div class="blockG" id="rotateG_03"></div>
                        <div class="blockG" id="rotateG_04"></div>
                        <div class="blockG" id="rotateG_05"></div>
                        <div class="blockG" id="rotateG_06"></div>
                        <div class="blockG" id="rotateG_07"></div>
                        <div class="blockG" id="rotateG_08"></div>
                    </div>
                    <div class="clear"></div>
                </div>

                <img id="bilde" src="${models.Image.get(recipe)}"/>
            </div>
        </div>


        <div class="whitetext overskrift">
            Oppskriften holder til
        </div>

        <div class="ui-grid-a addtask">
            <div class="ui-block-a" style="width:20%">
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <input id="serves" type="number" class="transparent mousetrap" maxlength="10"
                               value="${utils.Currency.prettyDouble(recipe?.serves)}"
                               key-placeholder="placeholder_add_task_to_$"
                               data-placeholder="amount" placeholder="antall"/>
                    </fieldset>
                </div>
            </div>
            <div class="ui-block-b" style="width:79%">
                <div data-role="fieldcontain">
                    <input id="servesUnit" value="${recipe?.servesUnit}" type="text"
                           class="transparent mousetrap"
                           maxlength="255"
                           key-placeholder="placeholder_add_task_to_$" data-placeholder="Inbox"
                           placeholder="enhet, feks stk"/>
                </div>
            </div>
        </div>


        <div class="whitetext overskrift">
            Ingredienser
        </div>

    #{addTaskMobile /}

        <div id="ingredient-tasks" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="vertical">
            #{list items:recipe.ingredients, as:'ingredient'}
                    #{set ingredient:ingredient /}
                    #{set deletable:true /}
                    #{checkBoxItem /}
                #{/list}
            </fieldset>
        </div>


        <div class="whitetext overskrift">
            Fremgangsmåte
        </div>

        <div class="addtask" style="">
            <textarea name="steps" rows="10"
                      value="${recipe?.steps}" id="steps" class="transparent mousetrap"
                      key-placeholder="placeholder_title_$" data-placeholder="steps"
                      placeholder="Beskriv fremgangsmåten her" style="font-size: 14px;">${recipe?.steps}</textarea>
        </div>


        <a data-role="button" href="@{Recipes.showMobile(recipe.id)}">
            Ferdig
        </a>


    </div>
#{footerMobile /}
</div>
