#{extends 'masterMobileMega.html' /}
#{set title:'Oppskrifter' /}

<!-- Oppskrift -->
<div data-role="page" id="oppskrift">
#{headerMobile /}
    <div data-role="content">
        <h2>
        #{if request.action == "Recipes.indexMobile" }
            Oppskrifter
        #{/if}
        #{if request.action == "Recipes.indexMobileAll" }
            Alle oppskrifter
        #{/if}
        #{if request.action == "Recipes.indexMobileFromMenus" }
            I menyer
        #{/if}
        #{if request.action == "Recipes.indexMobileTags" }
            #{if selectedTags == null || selectedTags.size() == 0 }
                Tags
            #{/if}
            #{else }
            ${ selectedTags.get(0).name }
            #{/else}
        #{/if}
        </h2>    #{if request.action == "Recipes.indexMobile" }
        <ul data-role="listview" data-divider-theme="b" data-inset="false">
            #{if hasCurrent}
            <li data-theme="c">
                <a href="@{Recipes.showCurrentMobile()}" data-transition="slide">
                    Dagens oppskrift
                </a>
            </li>
            #{/if}
            <li data-theme="c">
                <a href="@{Recipes.indexMobileAll()}" data-transition="slide">
                    Alle oppskrifter
                </a>
            </li>
            <li data-theme="c">
                <a href="@{Recipes.favoritesMobile()}" data-transition="slide">
                    Favoritter
                </a>
            </li>
            <li data-theme="c">
                <a href="@{Recipes.indexMobileTags()}" data-transition="slide">
                    Tags
                </a>
            </li>
            <li data-theme="c">
                <a href="@{Recipes.indexMobileFromMenus()}" data-transition="slide">
                    Brukt i dine menyer
                </a>
            </li>
        </ul>
    #{/if}

    #{if request.action == "Recipes.favoritesMobile" || request.action == "Recipes.indexMobileAll" || request.action == "Recipes.indexMobileFromMenus" }
        <ul data-role="listview" data-divider-theme="b" data-inset="false">
            #{list items:recipes, as:'recipe'}
                <li data-theme="c">
                    <a href="@{Recipes.showMobile(recipe.id)}" data-transition="slide">${recipe.title}</a>
                </li>
            #{/list}
        </ul>
    #{/if}
    #{if request.action == "Recipes.indexMobileTags"  }
        #{if selectedTags == null || selectedTags.size() == 0 }

            <ul data-role="listview" data-divider-theme="b" data-inset="false">
                #{list items:availableTags, as:'tag'}
                    <li data-theme="c">
                        <a href="@{Recipes.indexMobileTags(utils.TagUtil.mergeAndCreateArray(selectedTags, tag.nameHash))}"
                           data-transition="slide">
                        ${tag.name}
                            <span class="ui-li-count">${models.Recipe.findTaggedWith(tag.nameHash).size()}</span>
                        </a>
                    </li>
                #{/list}

            </ul>
        #{/if}
        #{else }
            <ul data-role="listview" data-divider-theme="b" data-inset="true">
                #{list items:recipes, as:'recipe'}
                    <li data-theme="c">
                        <a href="@{Recipes.showMobile(recipe.id)}" data-transition="slide">${recipe.title}</a>
                    </li>
                #{/list}
            </ul>

        #{/else}
    #{/if}


    </div>
#{footerMobile /}
</div>


<!-- velg meny -->
<div data-role="page" id="velgmeny">
    <div data-theme="a" data-role="header">
        <span class="ui-title">Velg meny
        </span>
    </div>
    <div data-role="content">
    </div>
</div>