#{extends 'master.html' /}
#{set title:'Oppskrifter' /}

#{if recipes}

#{if selectedTags != null }
    <div id="venstremeny">

    #{if selectedTags.size() > 0 }
        <h3>Fjerne avgrensing:</h3>
        #{/if }
<div>
		<ul>
            #{list items:selectedTags, as:'tag'}
			    <li >
					<a href="@{Recipes.index(utils.TagUtil.removeTagAndCreateArray(selectedTags, tag.nameHash))}">
						<div class="recipeTagButton">${tag.name}</div>
					</a>
				</li>
            #{/list}
		</ul>
</div>
<br/>
<h3>Avgrense:</h3>
<div>
		<ul>
            #{list items:availableTags, as:'tag'}
			    <li >
					<a href="@{Recipes.index(utils.TagUtil.mergeAndCreateArray(selectedTags, tag.nameHash))}">
                        <div class="recipeTagButton">${tag.name}</div>
					</a>
				</li>
            #{/list}
		</ul>
</div>
</div>
#{/if}
<div id="recipe_container">
		<div id="recipeList">
            #{list items:recipes, as:'recipe'}
                #{display recipe:recipe, as:'teaser' /}
            #{/list}
		</div>
</div>

#{/if}

#{else}
    <div class="empty">
        Finner ingen oppskrifter!
    </div>
#{/else}