#{extends 'masterMobileMega.html'/}


<div data-role="dialog">

    <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Erstatte oppskrift?</h1>
    </div>
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
        <h3 class="ui-title">Denne dagen har allerede en oppskrift.</h3>
        <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Angre</a>
        <a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Overskriv</a>
    </div>
</div>




