.icon {
    background-image: url("http://wunderlist2.s3.amazonaws.com/bcbfe600c9b7e6279f523d0ceee8cb09b485f7ed/images/wunderlist.png");
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
}

.icon.list-completed, .filter-setting .icon.list-completed {
    background-position: -120px -100px;
    width: 20px;
    height: 20px
}

.icon.list-starred, .filter-setting .icon.list-starred {
    background-position: -40px -100px;
    width: 20px;
    height: 20px
}

.icon.list-list, .filter-setting .icon.list-list {
    background-position: 0 -80px;
    width: 20px;
    height: 20px
}

.icon.list-sharing, .filter-setting .icon.list-sharing {
    background-position: 0 -60px;
    width: 20px;
    height: 20px
}

.icon.list-share-menu, .filter-setting .icon.list-share-menu {
    background-position: -80px -200px;
    width: 20px;
    height: 20px
}

.popover-sharing .icon.list-completed {
    background-position: -140px -100px;
    width: 20px;
    height: 20px
}

.icon.input-star {
    background-position: -100px -180px;
    width: 18px;
    height: 20px;
    opacity: .5;
}

.icon.input-star:hover {
    opacity: 1
}

.icon.input-star.starred {
    background-position: -120px -180px;
    width: 18px;
    height: 18px;
    opacity: 1
}

.icon.input-date {
    background-position: -160px -100px;
    width: 20px;
    height: 20px;
    opacity: .4;
}

.icon.input-date:hover {
    opacity: .8
}

.icon.input-date.dated {
    background-position: -100px -100px;
    width: 20px;
    height: 12px;
    font-size: 7px;
    padding-top: 7px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 0 black;
    text-align: center;
    opacity: 1
}

.icon.task-checkbox, .icon.detail-checkbox {
    background-position: -40px -20px;
    width: 18px;
    height: 18px;
}

.icon.task-checkbox:active, .icon.detail-checkbox:active {
    background-position: -60px -20px;
    width: 18px;
    height: 18px
}

.icon.task-checked, .icon.detail-checked {
    background-position: -80px -20px;
    width: 18px;
    height: 18px
}

.icon.task-star {
    background-position: -140px -180px;
    width: 20px;
    height: 34px;
}

.icon.task-star:hover {
    background-position: -100px 0;
    width: 20px;
    height: 34px
}

.icon.task-starred, .icon.task-starred:hover {
    background-position: -120px 0;
    width: 24px;
    height: 34px
}

.icon.task-separator {
    background-position: 0 0;
    width: 2px;
    height: 20px
}

.icon.task-recurring {
    background-position: -20px -20px;
    width: 20px;
    height: 20px
}

.icon.task-attachment {
    background-position: -20px -120px;
    width: 20px;
    height: 20px
}

.icon.detail-star {
    background-position: -160px -60px;
    width: 30px;
    height: 40px
}

.icon.detail-starred {
    background-position: -160px 0;
    width: 30px;
    height: 54px
}

.icon.subtask-checkbox {
    background-position: -40px 0;
    width: 20px;
    height: 20px;
}

.icon.subtask-checkbox:active {
    background-position: -60px 0;
    width: 20px;
    height: 20px
}

.icon.subtask-checked {
    background-position: -80px 0;
    width: 20px;
    height: 20px
}

.icon.detail-add {
    background-position: -100px -60px;
    width: 16px;
    height: 16px;
    opacity: .5;
    cursor: default
}

.icon.detail-delete {
    background-position: -40px -60px;
    width: 20px;
    height: 20px;
    opacity: .4;
}

.icon.detail-delete:hover {
    opacity: .8
}

.icon.detail-save {
    background-position: -180px -120px;
    width: 20px;
    height: 20px
}

.icon.detail-date {
    background-position: -100px -40px;
    width: 20px;
    height: 20px
}

.icon.detail-reminder {
    background-position: -120px -40px;
    width: 20px;
    height: 20px
}

.icon.detail-trash {
    background-position: -80px -60px;
    width: 20px;
    height: 20px
}

.icon.detail-close {
    background-position: -60px -60px;
    width: 20px;
    height: 20px
}

.icon.logout {
    background-position: -180px -120px;
    width: 20px;
    height: 20px
}

.icon.delete-list {
    background-position: -200px -100px;
    width: 20px;
    height: 20px
}

.icon.settings {
    background-position: -60px -120px;
    width: 20px;
    height: 20px
}

.icon.note-fullscreen {
    background-position: -140px -60px;
    width: 20px;
    height: 20px;
    opacity: .6;
}

.icon.note-fullscreen:hover {
    opacity: 1
}

.icon.attention {
    background-position: 0 -180px;
    width: 80px;
    height: 60px
}

.icon.reminder {
    background-position: -200px -140px;
    width: 40px;
    height: 40px
}

.icon.popover-share {
    background-position: -80px -200px;
    width: 20px;
    height: 20px
}

.icon.popover-accepted {
    background-position: 0 -120px;
    width: 20px;
    height: 20px
}

.icon.popover-notshared {
    background-position: 0 -240px;
    width: 120px;
    height: 100px
}

.icon.no-share-empty-coach {
    background-position: -120px -240px;
    width: 120px;
    height: 100px
}

.icon.settings-general {
    background-position: 0 -140px;
    width: 40px;
    height: 40px
}

.icon.settings-account {
    background-position: -40px -140px;
    width: 40px;
    height: 40px
}

.icon.settings-shortcuts {
    background-position: -80px -140px;
    width: 40px;
    height: 40px
}

.icon.settings-sidebar {
    background-position: -120px -140px;
    width: 40px;
    height: 40px
}

.icon.settings-notifications {
    background-position: -160px -140px;
    width: 40px;
    height: 40px
}

.icon.settings-facebook {
    background-position: -200px 0;
    width: 80px;
    height: 20px
}

.icon.settings-about {
    background-position: -240px -140px;
    width: 40px;
    height: 40px
}

.icon.wunderlist-icon {
    background-position: -460px -664px;
    width: 190px;
    height: 170px
}

.icon.facebook-btn {
    background-position: -160px -200px;
    width: 20px;
    height: 20px
}

.icon.twitter-btn {
    background-position: -180px -200px;
    width: 20px;
    height: 20px
}

.icon.sixw-btn {
    background-position: -160px -180px;
    width: 20px;
    height: 20px
}

.icon.support-btn {
    background-position: -180px -180px;
    width: 20px;
    height: 20px
}

.icon.fourohfour {
    background-position: -80px -520px;
    width: 80px;
    height: 80px
}

.icon.fourohfour-search {
    background-position: 0 -520px;
    width: 80px;
    height: 80px
}

.icon.fourohfour-today {
    background-position: -80px -600px;
    width: 80px;
    height: 80px
}

.icon.fourohfour-starred {
    background-position: 0 -600px;
    width: 80px;
    height: 80px
}

.icon.fourohfour-week {
    background-position: -160px -520px;
    width: 80px;
    height: 80px
}

.icon.fourohfour-all {
    background-position: -160px -600px;
    width: 80px;
    height: 80px
}

.icon.fourohfour-completed {
    background-position: 0 -678px;
    width: 80px;
    height: 80px
}

.icon.large {
    background-position: -5px -381px;
    width: 135.2px;
    height: 135.2px
}

.icon.thumb {
    background-position: -424px -384px;
    width: 25px;
    height: 25px
}

.icon.blank {
    background-position: -455px -382px;
    width: 26px;
    height: 26px
}

.icon.share-thumb {
    background-position: -424px -417px;
    width: 27px;
    height: 27px
}

.icon.share-blank {
    background-position: -464px -416px;
    width: 27px;
    height: 27px
}

.task-item.selected .task-attachment {
    background-position: -40px -120px;
    width: 20px;
    height: 20px
}

li.active .icon.list-inbox {
    background-position: -100px -80px;
    width: 20px;
    height: 20px
}

li.active .icon.list-all {
    background-position: -20px -100px;
    width: 22px;
    height: 20px
}

li.active .icon.list-today {
    background-position: -100px -100px;
    width: 20px;
    height: 20px;
    color: white;
    text-shadow: 0 1px 0 #336692
}

li.active .icon.list-week {
    background-position: 0 -40px;
    width: 20px;
    height: 20px
}

li.active .icon.list-completed {
    background-position: -140px -100px;
    width: 20px;
    height: 20px
}

li.active .icon.list-starred {
    background-position: -60px -100px;
    width: 20px;
    height: 20px
}

li.active .icon.delete-list {
    background-position: -220px -100px;
    width: 20px;
    height: 20px
}

li.active .icon.list-list, .addlist.active .icon.list-list {
    background-position: -20px -80px;
    width: 20px;
    height: 20px
}

.shared .icon.list-list {
    background-position: -40px -80px;
    width: 20px;
    height: 20px
}

.active.shared .icon.list-list {
    background-position: -60px -80px;
    width: 20px;
    height: 20px
}

.section.date .icon.detail-date {
    background-position: -120px -60px;
    width: 20px;
    height: 20px;
}

.section.date .icon.detail-date.overdue {
    background-position: -180px -100px;
    width: 20px;
    height: 20px
}

.section.date .icon.detail-reminder {
    background-position: -120px -80px;
    width: 20px;
    height: 20px;
}

.section.date .icon.detail-reminder.overdue {
    background-position: -140px -80px;
    width: 20px;
    height: 20px
}

.focus-notifications .icon.bell, .focus-notifications .icon.bell:hover {
    background-position: -200px -60px;
    width: 28px;
    height: 20px
}

#notifications-count:active .icon.bell-left {
    background-position: -240px -40px;
    width: 7px;
    height: 20px
}

#notifications-count:active .icon.bell-right {
    background-position: -260px -40px;
    width: 7px;
    height: 20px
}

#notifications-count:active .bell-mid {
    background-position: 0 -19px !important
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5) {
    .icon {
        background-image: url("http://wunderlist2.s3.amazonaws.com/3139ac430370efaf6897492770de2742e2144875/images/wunderlist@2x.png");
        background-size: 280px 760px
    }
}



.icon.check-trash {
    background-position: -80px -60px;
    width: 18px;
    height: 18px;
}

