#{extends 'masterMobileMega.html' /}
<!-- innstillinger -->
<div data-role="page" id="profil">
#{headerMobile /}
    <div data-role="content">
        <div data-role="fieldcontain">
            <span class="mengdeSelector">
                    <button data-mini="true" class="" style="text-align: left;" data-theme="a">
                        <div class="selector">
                            <span class="minusknapp"></span>
                            <span class="plussknapp"></span>
                            <span class="tekst">
                                <span style="float: none" class="mengde">
                                ${utils.Currency.prettyDouble(user.preferredServings)}</span> personer</span>
                        </div>
                        <div class="title-wrapper"><span class="title">Standardporsjonering</span>
                        </div>
                    </button>
            </span>


        #{addTaskMobile /}


            <div id="ingredient-tasks" data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="vertical">
                #{list items:shoppingList, as:'ingredient'}
                        #{set ingredient:ingredient /}
                        #{set deletable:true /}
                        #{checkBoxItem /}
                    #{/list}
                </fieldset>
            </div>
        </div>
    </div>
</div>

