#{extends 'master.html' /}


<script type="text/javascript">
    $(document).ready(function () {

        $("span.plussknapp").click(function () {
            var mengde = $(this).parent().find(".mengde");
            var number = parseInt($(mengde).text());
            number = number + 1;
            $(mengde).text(number);
            savePreferredServings(number);
        });
        $("span.minusknapp").click(function () {
            var mengde = $(this).parent().find(".mengde");
            var number = parseInt($(mengde).text());
            if (number > 0) {
                number = number - 1;
                $(mengde).text(number);
                savePreferredServings(number);
            }
        });


        $("input#add-description").keypress(function (e) {
            if (e.which == 13) {
                var amountInput = $(this).parent().find("input#add-amount");
                var unitInput = $(this).parent().find("input#add-unit");
                var descriptionInput = $(this);

                addIngredient(amountInput.val(), unitInput.val(), $(this).val());
                amountInput.val("");
                unitInput.val("");
                descriptionInput.val("");


            }
        });

        $("a.task-checkbox").click(function () {
            removeIngredient($(this).parent().parent().attr("id"));
            $(this).parent().parent().detach();
        });


    });


    function addIngredient(amount, unit, description) {
        $.ajax({
            type: "POST",
            url: "/users/addIngredient",
            data: "amount=" + amount + "&unit=" + unit + "&description=" + description,
            dataType: "xml"

        }).always(function (data) {
                    injectTask(data.responseText, amount, unit, description);

                });
    }
    function removeIngredient(id) {
        $.ajax({
            type: "POST",
            url: "/users/removeIngredient",
            data: "id=" + id,
            dataType: "xml"

        });
    }
    function savePreferredServings(amount) {
        $.ajax({
            type: "POST",
            url: "/users/preferredServings",
            data: "amount=" + amount,
            dataType: "xml"

        });
    }

    var taskTemplate = "<li class=\"task-item\" id=\"$ID$\">" +
            "<div class=\"task-body\"><a class=\"task-checkbox\"><span class=\"icon check-trash \"></span></a> " +
            "<a class=\"icon task-separator\"></a>" +
            "<div class=\"title-wrapper\"><span" +
            "  class=\"title\"><span>$AMOUNT$ $UNIT$</span> $DESCRIPTION$</span>" +
            "</div>" +
            "</div>" +
            "</li>";

    function injectTask(id, amount, unit, description) {
        var injectString = taskTemplate.replace("$ID$", id).replace("$AMOUNT$", amount).replace("$UNIT$", unit).replace("$DESCRIPTION$", description);

        $('<div/>').html(injectString).prependTo("ol#ingredient-tasks");

    }


</script>

<div id="profil">
    <div class="whitetext toppOverskrift" style="margin-bottom: 30px">Din profil</div>

    <div class="whitetext overskrift">Matvarer som legges til handlelappen hver uke</div>

    <div class="addtask" style="">

        <a class="input-date"><span class="icon input-date transparent"></span></a>
        <input style="width:15%" id="add-amount" type="text" class="transparent mousetrap" maxlength="255"
               key-placeholder="placeholder_add_task_to_$" data-placeholder="amount" placeholder="Mengde">
        <input id="add-unit" style="width:15%" type="text" class="transparent mousetrap" maxlength="255"
               key-placeholder="placeholder_add_task_to_$" data-placeholder="unit" placeholder="enhet">
        <input id="add-description" style="width:60%" type="text" class="transparent mousetrap" maxlength="255"
               key-placeholder="placeholder_add_task_to_$" data-placeholder="Inbox"
               placeholder="beskrivelse (trykk enter her for å legge til)">
    </div>
    <div class="task-list">
        <div class="grouped-tasks" rel="inbox">
            <ol class="tasks" id="ingredient-tasks" style="padding-left:0px;">
            #{list items:shoppingList, as:'ingredient'}
                <li class="task-item" id="${ingredient.id}">
                    <div class="task-body"><a class="task-checkbox"><span
                            class="icon check-trash "></span></a> <a class="icon task-separator"></a>

                        <div class="title-wrapper"><span
                                class="title">
                                    #{if !ingredient.type.equals(models.ShoppingListItemType.onthefly) }
                                        <span>${utils.Currency.prettyDouble(ingredient.amount)} ${ingredient.unit}</span>
                                    #{/if}
                        ${ingredient.description}</span>
                        </div>
                    </div>
                </li>
            #{/list}
            </ol>

        </div>
    </div>
    <div class="whitetext overskrift">Oppskriftenes dimensjonering</div>

    <div class="task-list">
        <div class="grouped-tasks" rel="inbox">
            <ol class="tasks" id="menu-tasks" style="padding-left:0px;">
                <li class="task-item noduedate">
                    <div class="task-body">
                        <div class="selector">
                            <span class="minusknapp"></span>
                            <span class="plussknapp"></span>
                                    <span class="tekst">Til <span style="float: none" class="mengde"
                                                                  id="slider">${user.preferredServings != null?utils.Currency.prettyDouble(user.preferredServings):2}</span> personer</span>
                        </div>
                        <div class="title-wrapper"><span
                                class="title">Antall personer oppskriftene skal ta utganspunkt i
                                    </span>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>


</div>