#{extends 'masterMobileMega.html' /}
<!-- innstillinger -->
<div data-role="page" id="profil">
#{headerMobile /}
    <div data-role="content">
        <div data-role="fieldcontain">
            <span class="mengdeSelector">
                    <button data-mini="true" class="" style="text-align: left;" data-theme="a">
                        <div class="selector">
                            <span class="minusknapp"></span>
                            <span class="plussknapp"></span>
                            <span class="tekst">
                                <span style="float: none" class="mengde">
                                ${utils.Currency.prettyDouble(user.preferredServings)}</span> personer</span>
                        </div>
                        <div class="title-wrapper"><span
                                class="title">Standardporsjonering
                                                            </span>
                        </div>
                    </button>
            </span>

            <ul data-role="listview" data-divider-theme="b" data-inset="true">
            #{list items:shoppingList, as:'ingredient'}
                <li data-theme="c" class="task-item" id="${ingredient.id}">
                    <div class="task-body"><a class="task-checkbox"><span
                            class="icon check-trash "></span></a> <a class="icon task-separator"></a>

                        <div class="title-wrapper"><span
                                class="title">
                                    #{if !ingredient.type.equals(models.ShoppingListItemType.onthefly) }
                                        <span>${utils.Currency.prettyDouble(ingredient.amount)} ${ingredient.unit}</span>
                                    #{/if}
                        ${ingredient.description}</span>
                        </div>
                    </div>
                </li>
            #{/list}
            </ul>
        </div>
    </div>
</div>

