#{extends 'master.html' /}


<script type="text/javascript">
    $(document).ready(function () {
        $("a.task-checkbox").click(function () {
            if (!$(this).hasClass("task-checked")) {
                checkIngredient($(this).parent().parent().attr("id"));
                $(this).addClass("task-checked");
                $(this).find("span.task-checkbox").addClass("task-checked");
                $(this).parent().parent().addClass("done");
                var taskItem = $(this).parent().parent().detach();
                taskItem.prependTo(".completed-tasks");
                if(!$("#ferdigstilte-overskrift").is(":visible"))
                {
                    $("#ferdigstilte-overskrift").show();
                }
            }
            else {
                unCheckIngredient($(this).parent().parent().attr("id"));
                $(this).removeClass("task-checked");
                $(this).find("span.task-checkbox").removeClass("task-checked");
                $(this).parent().parent().removeClass("done");
                var taskItem = $(this).parent().parent().detach();
                taskItem.prependTo(".tasks");
                if($(".completed-tasks:not(:has(*))"))
                {
                    $("#ferdigstilte-overskrift").hide();
                }
            }
        });

        $("input#addtask").keypress(function (e) {
            if (e.which == 13) {
                addOnTheFlyIngredient(${menu?.shoppingList?.id}, $(this).val());
                $(this).val("");

            }
        });

    });


    function checkIngredient(id) {
        $.ajax({
            type: "POST",
            url: "/shoppinglists/check",
            data: "id=" + id,
            dataType: "xml"
        });
    }
    function unCheckIngredient(id) {
        $.ajax({
            type: "POST",
            url: "/shoppinglists/uncheck",
            data: "id=" + id,
            dataType: "xml"
        });
    }
    function addOnTheFlyIngredient(id, description) {
        $.ajax({
            type: "POST",
            url: "/shoppinglists/addOnTheFly",
            data: "id=" + id + "&description=" + description,
            dataType: "xml"

        }).always(function (data) {
                    injectTask(data.responseText, description);

                });
    }

    var taskTemplate = "<li class=\"task-item\" id=\"$ID$\">" +
            "<div class=\"task-body\"><a class=\"task-checkbox\"><span class=\"icon task-checkbox \"></span></a> " +
            "<a class=\"icon task-separator\"></a>" +
            "<div class=\"title-wrapper\"><span" +
            "  class=\"title\">$DESCRIPTION$</span>" +
            "</div>" +
            "</div>" +
            "</li>";
    function injectTask(id, description) {
        var injectString = taskTemplate.replace("$ID$", id).replace("$DESCRIPTION$", description);

        $('<div/>').html(injectString).prependTo("ol#ingredient-tasks");

    }
</script>


<div class="whitetext toppOverskrift">Handlelapp for
    uke ${menu!=null?utils.DateUtil.weekOfYear(menu.usedFromDate):'?'}</div>

<div class="addtask" style="">
    <a class="input-star">
                    <span
                            class="icon input-star transparent"></span></a>
    <a class="input-date"><span
            class="icon input-date transparent"></span></a>
    <input id="addtask" type="text" class="transparent mousetrap"
           maxlength="255"
           key-placeholder="placeholder_add_task_to_$"
           data-placeholder="Inbox"
           placeholder="Legg til vare i handlelisten...">
</div>
<div class="task-list">
    <div class="grouped-tasks" rel="inbox">
        <ol class="tasks" id="ingredient-tasks" style="padding-left:0px;">
        #{list items:shoppingListUnchecked, as:'ingredient'}
            <li class="task-item" id="${ingredient.id}">
                <div class="task-body"><a class="task-checkbox"><span
                        class="icon task-checkbox "></span></a> <a class="icon task-separator"></a>

                    <div class="title-wrapper"><span
                            class="title">
                                        #{if !ingredient.type.equals(models.ShoppingListItemType.onthefly) }
                                            <span>${utils.Currency.prettyDouble(ingredient.amount)} ${ingredient.unit}</span>
                                        #{/if}
                    ${ingredient.description}</span>
                    </div>
                </div>
            </li>
        #{/list}
        </ol>
        <div id="ferdigstilte-overskrift" style="${shoppingListChecked.size() == 0? 'display:none':''}" class="whitetext overskrift completed">
            <text rel="label_completed_tasks_heading">Ferdigstilte</text>
        </div>
        <ol class="completed-tasks" style="padding-left:0px;">
        #{list items:shoppingListChecked, as:'ingredient'}
            <li class="task-item done" id="${ingredient.id}">
                <div class="task-body"><a class="task-checkbox task-checked"><span
                        class="icon task-checkbox  task-checked"></span></a> <a
                        class="icon task-separator"></a>

                    <div class="title-wrapper"><span
                            class="title"><span>${utils.Currency.prettyDouble(ingredient.amount)} ${ingredient.unit}</span> ${ingredient.description}</span>
                    </div>
                </div>
            </li>
        #{/list}
        </ol>
        <div class="margin-bottom:20px;"/>

        <div class="buttonRow">
        #{if menu!=null}
            <a class="fancyButtonLink" href="@{ShoppingLists.list(menu.id)}" id="tilHandlelappen">
                <div class="smallButton wrapper">
                    <span>Velg oppskrifter på nytt</span>
                </div>
            </a>
        #{/if}
            <a class="fancyButtonLink" href="@{ShoppingLists.showLastWeek(menu.id)}" id="tilForrige">
                <div class="smallButton wrapper">
                    <span>Forrige uke</span>
                </div>
            </a>
            <a class="fancyButtonLink" href="@{ShoppingLists.showNextWeek(menu.id)}" id="tilNeste">
                <div class="smallButton wrapper">
                    <span>Neste uke</span>
                </div>
            </a>
        </div>
    </div>
</div>
