#{extends 'masterMobileMega.html' /}


<script type="text/javascript">
    $(document).on('pageinit', function () {


        $("div.ui-checkbox").on('change', 'input:checkbox', function () {

            boxActivated($(this).parent());
        });

      //  $("div.ui-checkbox").click(function () {
      //      boxActivated($(this));
      //  });

        function boxActivated(box) {
            var fromId = box.parent().parent().parent().attr("id");
            var sortering = "${sortering}";

            if (!box.find("label").hasClass("ui-checkbox-on")) {
                checkIngredient(box.find("input").attr("id"));
                var taskItem = box.detach();

                if (sortering != null && sortering == "oppskrift") {

                    $("#" + taskItem.find("input").attr("id")).parent().remove();
                }

                move(taskItem, fromId, "#completed-tasks");
            }
            else {
                unCheckIngredient(box.find("input").attr("id"));
                var toId = "#ingredient-tasks";

                if (sortering != null) {
                    if (sortering == "type") {
                        var vareId = box.find("input").attr("data-varetype");
                        if (vareId != null && vareId != "") {
                            toId = "#" + vareId + "-types";
                        }
                    }
                    else if (sortering == "oppskrift") {
                        var recipeId = box.find("input").attr("data-recipe");
                        if (recipeId != null && recipeId != "") {
                            if(recipeId.indexOf(";")>0)
                            {
                                var splitRecipes = recipeId.split(";");
                                var toId = new Array();
                                for(var i = 0; i < splitRecipes.length; i++)
                                {
                                     toId[i] = "#" + splitRecipes[i] + "-recipes";
                                }
                            }
                            else
                            {
                                toId = "#" + recipeId + "-recipes";
                            }
                        }
                    }
                }
                var taskItem = box.detach();

                if (toId instanceof Array) {
                    for(var i = 0; i < toId.length; i++)
                    {
                        var newItem = taskItem.clone();
                        newItem.find("label").removeClass("ui-checkbox-on");
                        newItem.find("label").addClass("ui-checkbox-off");
                        newItem.find("span.ui-icon-checkbox-on").removeClass("ui-icon-checkbox-on").addClass("ui-icon-checkbox-off");

                        move(newItem, fromId, toId[i]);
                    }


                }
                 else {
                    move(taskItem, fromId, toId);
                }
            }

        }


        $("input#add-task-input").keypress(function (e) {
            if (e.which == 13) {
                addOnTheFlyIngredient(${menu?.shoppingList?.id}, $(this).val());
                $(this).val("");

            }
        });

    });

    function move(taskItem, anchorFrom, anchorTo) {
        //if taskItem is om top
        if (taskItem.find("label").hasClass("ui-corner-top")) { //&& !($("#ingredient-tasks:not(:has(*))"))) {

            $(anchorFrom + " div.ui-controlgroup-controls div.ui-checkbox:first").find("label").addClass("ui-corner-top");
        }

        if (taskItem.find("label").hasClass("ui-corner-bottom")) {
            $(anchorFrom + " div.ui-controlgroup-controls div.ui-checkbox:last").find("label").addClass("ui-corner-bottom").addClass("ui-controlgroup-last");
        }
        inject(taskItem, anchorTo);

    }

    function inject(taskItem, anchorTo) {

        taskItem.find("label").addClass("ui-corner-top");
        taskItem.find("label").removeClass("ui-corner-bottom").removeClass("ui-controlgroup-last");


        if (!$(anchorTo + " div.ui-controlgroup-controls div.ui-checkbox").length) {
            taskItem.find("label").addClass("ui-corner-bottom").addClass("ui-controlgroup-last");
        }
        else {
            $(anchorTo + " div.ui-controlgroup-controls div.ui-checkbox:first").find("label").removeClass("ui-corner-top");

        }

        taskItem.prependTo(anchorTo + " div.ui-controlgroup-controls");


    }


    function checkIngredient(id) {
        $.ajax({
            type: "POST",
            url: "/shoppinglists/check",
            data: "id=" + id,
            dataType: "xml"
        });
    }
    function unCheckIngredient(id) {
        $.ajax({
            type: "POST",
            url: "/shoppinglists/uncheck",
            data: "id=" + id,
            dataType: "xml"
        });
    }
    function addOnTheFlyIngredient(id, description) {
        $.ajax({
            type: "POST",
            url: "/shoppinglists/addOnTheFly",
            data: "id=" + id + "&description=" + description,
            dataType: "xml"

        }).always(function (data) {
                    injectTask(data.responseText, description);

                });
    }


    var groupTemplate = "<div id=\"$ID$\" data-role=\"fieldcontain\" class=\"ui-field-contain ui-body ui-br\"><fieldset data-role=\"controlgroup\" data-type=\"vertical\" class=\"ui-corner-all ui-controlgroup ui-controlgroup-vertical\"><div class=\"ui-controlgroup-controls\"><label>$DESCRIPTION$</label></div></fieldset></div>";


    var taskTemplateNEW = "<div class=\"ui-checkbox\">" +
            "<input id=\"$ID$\" name=\"\" type=\"checkbox\">" +
            "<label for=\"$ID$\" data-corners=\"true\" data-shadow=\"false\" data-iconshadow=\"true\" data-wrapperels=\"span\" data-icon=\"checkbox-off\" data-theme=\"c\" class=\"ui-btn ui-btn-icon-left ui-checkbox-off ui-btn-up-c\">" +
            "<span class=\"ui-btn-inner\"><span class=\"ui-btn-text\">$DESCRIPTION$</span>" +
            "<span class=\"ui-icon ui-icon-checkbox-off ui-icon-shadow\">&nbsp;</span></span></label></div>";

    var taskTemplate = "<li class=\"task-item\" id=\"$ID$\">" +
            "<div class=\"task-body\"><a class=\"task-checkbox\"><span class=\"icon task-checkbox \"></span></a> " +
            "<a class=\"icon task-separator\"></a>" +
            "<div class=\"title-wrapper\"><span" +
            "  class=\"title\">$DESCRIPTION$</span>" +
            "</div>" +
            "</div>" +
            "</li>";
    function injectTask(id, description) {
        var injectString = taskTemplateNEW.replace("$ID$", id).replace("$DESCRIPTION$", description);
        inject($('<div/>').html(injectString), "#ingredient-tasks");
    }
    function injectGroup(id, description) {
        if (!$(id).length) {
            var injectString = groupTemplate.replace("$ID$", id).replace("$DESCRIPTION$", description);
            $('<div/>').html(injectString).insertBefore("#ingredient-tasks");
        }
    }
</script>


<!-- Oppskrift -->
<div data-role="page" id="tasks">
#{headerMobile /}
    <div data-role="content">
        <h1>Handlelapp for
            uke ${menu!=null?utils.DateUtil.weekOfYear(menu.usedFromDate):'?'}</h1>

        <div data-role="navbar" data-iconpos="none">
            <ul>
                <li>
                    <a href="@{ShoppingLists.showCurrentMobile("alfabetisk")}" id="sorter-alfabetisk"
                       data-transition="fade" data-theme=""
                       class="${sortering == null || sortering == "" || sortering == 'alfabetisk'?'ui-btn-active ui-state-persist':''}">
                        Alfabetisk
                    </a>
                </li>
                <li>
                    <a href="@{ShoppingLists.showCurrentMobile("type")}"
                       class="${sortering == 'type'?'ui-btn-active ui-state-persist':''}" id="sorter-type"
                       data-transition="flip"
                       data-theme="">
                        Type
                    </a>
                </li>
                <li>
                    <a href="@{ShoppingLists.showCurrentMobile("oppskrift")}"
                       class="${sortering == 'oppskrift'?'ui-btn-active ui-state-persist':''}" id="sorter-oppskrift"
                       data-transition="flip" data-theme="">
                        Oppskrift
                    </a>
                </li>
            </ul>
        </div>
        <div data-role="fieldcontain" id="add-task">
            <fieldset data-role="controlgroup">
                <label for="add-task-input">
                </label>
                <input name="add-task-input" id="add-task-input" placeholder="Legg til" value="" type="text">
            </fieldset>
        </div>


        <div id="ingredient-tasks" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="vertical">
            #{if sortering == null || sortering == "" || sortering == "alfabetisk"  }
                #{list items:shoppingListUnchecked, as:'ingredient'}
                    #{set ingredient:ingredient /}
                    #{checkBoxItem /}
                #{/list}
            #{/if}
            #{elseif sortering == "type"}
                #{list items:shoppingListUncheckedByType.keySet(), as:'key'}
                    #{if key == -1 }
                        <legend>Ikke kategorisert</legend>
                        #{list items:shoppingListUncheckedByType.get(key), as:'ingredient'}
                            #{set ingredient:ingredient /}
                            #{set menu:menu /}
                            #{checkBoxItem /}
                        #{/list}
                    #{/if}
                #{/list}
            #{/elseif}
            #{elseif sortering == "oppskrift"}
                #{list items:shoppingListUncheckedByRecipe.keySet(), as:'key'}
                    #{if key == -1 }
                        <legend>Ikke fra oppskrift</legend>
                        #{list items:shoppingListUncheckedByRecipe.get(key), as:'ingredient'}
                            #{set ingredient:ingredient /}
                            #{set menu:menu /}
                            #{checkBoxItem /}
                        #{/list}
                    #{/if}
                #{/list}
            #{/elseif}
            </fieldset>
        </div>

    #{if sortering == "type"}
        #{list items:shoppingListUncheckedByType.keySet(), as:'key'}
            #{if key != -1 }
                <div id="${key}-types" data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="vertical">
                        <legend>${models.IngredientType.findById(key).name}</legend>
                        #{list items:shoppingListUncheckedByType.get(key), as:'ingredient'}
                            #{set ingredient:ingredient /}
                            #{set menu:menu /}
                            #{checkBoxItem /}
                        #{/list}
                    </fieldset>
                </div>
            #{/if}
        #{/list}
    #{/if}
    #{elseif sortering == "oppskrift"}
        #{list items:shoppingListUncheckedByRecipe.keySet(), as:'key'}
            #{if key != -1 }
                <div id="${key}-recipes" data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="vertical">
                        <legend>${models.Recipe.findById(key).title}</legend>
                        #{list items:shoppingListUncheckedByRecipe.get(key), as:'ingredient'}
                            #{set ingredient:ingredient /}
                            #{set menu:menu /}
                            #{checkBoxItem /}
                        #{/list}
                    </fieldset>
                </div>
            #{/if}
        #{/list}
    #{/elseif}

        <div id="completed-tasks" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="vertical" style="margin-bottom: 90px;">
                <legend>
                    Ferdigstilte
                </legend>
            #{list items:shoppingListChecked, as:'ingredient'}
                #{set ingredient:ingredient /}
                #{set menu:menu /}
                #{checkBoxItemChecked /}
            #{/list}

            </fieldset>
        </div>

    </div>
#{footerMobile /}
</div>


