#{extends 'masterMobileMega.html' /}




<!-- Oppskrift -->
<div data-role="page" id="tasksPage" data-sortering="${sortering}" data-menu-id="${menu.id}" >
#{headerMobile /}
    <div data-role="content">
        <h1>Handlelapp uke ${menu!=null?utils.DateUtil.weekOfYear(menu.usedFromDate):'?'}</h1>

        <div data-role="navbar" data-iconpos="none">
            <ul>
                <li>
                    <a href="@{ShoppingLists.showMobile(menu.id, "alfabetisk")}" id="sorter-alfabetisk"
                       data-transition="fade" data-theme=""
                       class="${sortering == null || sortering == "" || sortering == 'alfabetisk'?'ui-btn-active ui-state-persist':''}">
                        Alfabetisk
                    </a>
                </li>
                <li>
                    <a href="@{ShoppingLists.showMobile(menu.id, "type")}"
                       class="${sortering == 'type'?'ui-btn-active ui-state-persist':''}" id="sorter-type"
                       data-transition="flip"
                       data-theme="">
                        Type
                    </a>
                </li>
                <li>
                    <a href="@{ShoppingLists.showMobile(menu.id, "oppskrift")}"
                       class="${sortering == 'oppskrift'?'ui-btn-active ui-state-persist':''}" id="sorter-oppskrift"
                       data-transition="flip" data-theme="">
                        Oppskrift
                    </a>
                </li>
            </ul>
        </div>
        <div data-role="fieldcontain" id="add-task">
            <fieldset data-role="controlgroup">
                <label for="add-task-input">
                </label>
                <input name="add-task-input" id="add-task-input" placeholder="Legg til" value="" type="text">
            </fieldset>
        </div>


        <div id="ingredient-tasks" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="vertical">
            #{if sortering == null || sortering == "" || sortering == "alfabetisk"  }
                #{list items:shoppingListUnchecked, as:'ingredient'}
                    #{set ingredient:ingredient /}
                    #{checkBoxItem /}
                #{/list}
            #{/if}
            #{elseif sortering == "type"}
                #{list items:shoppingListUncheckedByType.keySet(), as:'key'}
                    #{if key == -1 }
                        <legend>Ikke kategorisert</legend>
                        #{list items:shoppingListUncheckedByType.get(key), as:'ingredient'}
                            #{set ingredient:ingredient /}
                            #{set menu:menu /}
                            #{checkBoxItem /}
                        #{/list}
                    #{/if}
                #{/list}
            #{/elseif}
            #{elseif sortering == "oppskrift"}
                #{list items:shoppingListUncheckedByRecipe.keySet(), as:'key'}
                    #{if key == -1 }
                        <legend>Ikke fra oppskrift</legend>
                        #{list items:shoppingListUncheckedByRecipe.get(key), as:'ingredient'}
                            #{set ingredient:ingredient /}
                            #{set menu:menu /}
                            #{checkBoxItem /}
                        #{/list}
                    #{/if}
                #{/list}
            #{/elseif}
            </fieldset>
        </div>

    #{if sortering == "type"}
        #{list items:shoppingListUncheckedByType.keySet(), as:'key'}
            #{if key != -1 }
                <div id="${key}-types" data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="vertical">
                        <legend>${models.IngredientType.findById(key).name}</legend>
                        #{list items:shoppingListUncheckedByType.get(key), as:'ingredient'}
                            #{set ingredient:ingredient /}
                            #{set menu:menu /}
                            #{checkBoxItem /}
                        #{/list}
                    </fieldset>
                </div>
            #{/if}
        #{/list}
    #{/if}
    #{elseif sortering == "oppskrift"}
        #{list items:shoppingListUncheckedByRecipe.keySet(), as:'key'}
            #{if key != -1 }
                <div id="${key}-recipes" data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="vertical">
                        <legend>${models.Recipe.findById(key).title}</legend>
                        #{list items:shoppingListUncheckedByRecipe.get(key), as:'ingredient'}
                            #{set ingredient:ingredient /}
                            #{set menu:menu /}
                            #{checkBoxItem /}
                        #{/list}
                    </fieldset>
                </div>
            #{/if}
        #{/list}
    #{/elseif}

        <div id="completed-tasks" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="vertical" style="margin-bottom: 90px;">
                <legend>
                    Ferdigstilte
                </legend>
            #{list items:shoppingListChecked, as:'ingredient'}
                #{set ingredient:ingredient /}
                #{set menu:menu /}
                #{checkBoxItemChecked /}
            #{/list}

            </fieldset>
        </div>

    </div>
#{footerMobile /}
</div>


