*{ Display a recipe in one of these modes: 'full', 'home' or 'teaser' }*
#{if _as == 'teaser'}
<div class="recipeListItem">
    <div id="${_recipe.id}" class="recipeItem">
        <div class="recipeImage">
            <div class="cimg">
                <a href="@{Application.show(_recipe.id)}">
                    <img src="@{Recipes.recipePhotoThumb(_recipe.id)}" alt="oppskrift bilde" width="100" height="100"/>

                    <div class="recipeTitleBox"><p class="recipeTitle">${_recipe.title}</p></div>
                    <!--span class="recipeTime">${_recipe.title}</span-->
                </a>
            </div>
        </div>
    </div>
</div>

#{/if}
#{if _as == 'full'}


<div id="recipe">
    <div class="leftColumn">
        <div class="recipeImage recipeImageDraggable ui-draggable">

            <img src="@{Recipes.recipePhoto(_recipe.id)}"/>

            <div id="recipeTags">
                #{if _recipe.tags}
                    #{list items:_recipe.tags, as:'tag'}
                        <div class="tidsbruk">
                            <span><a href="@{Application.listTagged(tag.name)}">${tag}</a></span>
                        </div>
                    #{/list}
                #{/if}
            </div>


            <div id="recipeToolbar">
                <a id="${_recipe.id}" class="favBtn favoriserBtn_favorisert"></a>

                <div class="removeFromFav  inRecipe">Fjern favoritt</div>
            </div>

        </div>
        <div id="ingress">
            <h3>Ingress</h3>

            <p>${_recipe.description.nl2br()}</p>
        </div>


        <br class="clear">

        <div id="fremgangsmote">


            <div class="stepByStepItem_noImage">
            ${_recipe.steps.escape().nl2br()}
            </div>

        </div>


    </div>


    <div class="rightColumn">

        <h2>${_recipe.title}</h2>


        <h3>${_recipe.ingredients.size() ?: 'ingen'} ingredienser</h3>

        <div id="ingredient">
            #{list items:_recipe.ingredients, as:'ingredient'}
                <div class="ingredient_parent">
                    <div class="mengdeEnhet">${ingredient.amount.escape().nl2br()} ${ingredient.unit.escape().nl2br()}</div>
                    <div class="produktnavn">${ingredient.description.escape().nl2br()}</div>
                </div>
            #{/list}
        </div>

        <div id="slider">
            <strong>Oppskriften holder til:</strong>
            <span id="adultRange">${utils.Currency.prettyDouble(_recipe.serves)} ${_recipe.servesUnit}</span>
        </div>


        <div id="recipeList" class="visualBox">
            <div class="recipeItem ">
                <div id="${_recipe.id}" class="recipeImage cimg dtp_bilde">
                    <a href="@{Application.show(_recipe.id)}">
                        <img src="@{Recipes.recipePhotoThumb(_recipe.id)}" alt="oppskrift bilde" width="100"
                             height="100">
                    </a>
                </div>

                <div class="recipeText">
                    <h3>Planlegg denne middagen</h3>

                    <p>Dra bildet ned til ønsket dag i Middagsplanleggeren</p>
                </div>
            </div>
        </div>
        <p>
            <a href="${_recipe.source}">Kilde</a>

        </p>

    </div>


</div>

#{/if}        