*{ Display a recipe in one of these modes: 'full', 'home' or 'teaser' }*
#{if _as == 'teaser'}
			<div class="recipeListItem">
				<div id="${_recipe.id}" class="recipeItem">
					<div class="recipeImage">
						<div class="cimg">
							<a href="@{Application.show(_recipe.id)}">
								<img src="@{Recipes.recipePhotoThumb(_recipe.id)}" alt="oppskrift bilde" width="100" height="100"/>
                                <div class="recipeTitleBox"><p class="recipeTitle">${_recipe.title}</p></div>
                                <!--span class="recipeTime">${_recipe.title}</span-->
							</a>
						</div>
					</div>
				</div>
			</div>

#{/if}
#{if _as == 'full'}
<div class="recipe ${_as == 'teaser' ? 'teaser' : ''}">
    <h2 class="recipe-title">
        <a href="@{Application.show(_recipe.id)}">${_recipe.title}</a>
    </h2>

    <div class="recipe-metadata">
        #{if _recipe.tags}
    <span class="recipe-tags">
         Merket med
        #{list items:_recipe.tags, as:'tag'}
            <a href="@{Application.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
        #{/list}
    </span>
        #{/if}
    </div>
#{if _recipe.photo != null }
    #{if _as == 'full'}
        <img src="@{Recipes.recipePhoto(_recipe.id)}">
    #{/if}
    #{if _as == 'teaser'}
        <img src="@{Recipes.recipePhotoThumb(_recipe.id)}">
    #{/if}
#{/if}

    <div class="recipe-content">
        <div class="about">Detaljer:</div>
        ${_recipe.description.nl2br()}
    </div>
</div>

<div class="recipe-metadata">
 <span class="recipe-tags">
Oppskriften holder til ${_recipe.serves} ${_recipe.servesUnit}
 </span>
 </div>
<div class="recipe-comments">
    <h3>
        ${_recipe.ingredients.size() ?: 'ingen'} ingredienser
    </h3>

    #{list items:_recipe.ingredients, as:'ingredient'}
    <div class="recipe-comment">
    ${ingredient.amount.escape().nl2br()} ${ingredient.unit.escape().nl2br()} ${ingredient.description.escape().nl2br()}
    </div>
    #{/list}

    <h3>
        Fremgangsmåte
    </h3>


    <div class="recipe-comment">
        ${_recipe.steps.escape().nl2br()}
    </div>

<p>
    <a href="${_recipe.source}">Kilde</a>

</p>


</div>
#{/if}        