<div data-role="popup" id="popupPanel" data-corners="false" data-theme="none" data-shadow="false"
     data-tolerance="0,0">



<h1>Uke ${menu!=null?utils.DateUtil.weekOfYear(menu.usedFromDate):'?'}</h1>


#{list items:0..6, as:'i'}
     <button data-theme="a"  class="addRecipeToMenuButton" data-day="${utils.DateUtil.addDays(menu.usedFromDate, i).format("yyyy-MM-dd")}" data-icon="${menu.getRecipeForDay(i) != null?'grid':''}" data-hasrecipe="${menu.getRecipeForDay(i) != null?'true':'false'}" data-mini="true">${utils.DateUtil.dayOfWeek(utils.DateUtil.addDays(menu.usedFromDate, i))}</button>
#{/list}


</div>
