<div id="container">

<div class="width">


<div id="footer" class="alleOppskrifter">


<div class="width">
		<div id="middagsplanlegger">


<script type="text/javascript">

$(document).ready(function() {

	$.get("/menus/dinnerplan", function(data) {
   		$('#middagsplanlegger').append(data, loadContent());
   	});

	function loadContent()
	{

		$.getScript('/public/javascripts/jcarousellite_1.0.1.min.js' , function(){
			$.getScript('/public/javascripts/middagsplanlegger.js');
		});

		if($("#footer").is(":hidden"))
			$('#footer').show();

	}


});

</script>







</div>
	</div>
</div>

</div>
</div>
