<div id="container">

    <div class="width">

        <script type="text/javascript">

            $(document).ready(function () {

                $.get("/menus/dinnerplan", function (data) {
                    $('#middagsplanlegger').append(data, loadContent());
                });

                function loadContent() {

                    //	$.getScript('/public/javascripts/jcarousellite_1.0.1.min.js' , function(){
                    		$.getScript('/public/javascripts/middagsplanlegger.js');
                    //	});


                }


            });

        </script>


        <div id="footer" class="alleOppskrifter" >


            <div class="width" >
                <div id="middagsplanlegger" >

                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
	//stick the footer at the bottom of the page if we're on an iPad/iPhone due to viewport/page bugs in mobile webkit
	if(navigator.platform == 'iPad' || navigator.platform == 'iPhone') {
	     $("#footer").css("position", "static");
	};
</script>
