<script type="text/javascript">
    $(document).ready(function () {

        $("#showMenu").click(function(){
            if($("#topmenu").is(":visible"))
        {
            $("#topmenu").hide();
            $("#showMenu").find("span").text("Vis meny");

        }
        else
        {
            $("#topmenu").show();
            $("#showMenu").find("span").text("Skjul meny");

        }
    });


        $("#showTags").click(function(){
            if($("#venstremeny").is(":visible"))
        {
            $("#venstremeny").hide();
            $("#showTags").find("span").text("Vis tags");

        }
        else
        {
            $("#venstremeny").show();
            $("#showTags").find("span").text("Skjul tags");

        }
    });


    })
    ;

</script>


<a id="showMenu" class="fancyButtonLink ${request.action == 'Recipes.favorites' ? 'active' : ''}" href="#">
    <div class="wrapper" style="width:100%; margin-bottom: 5px;"><span>Vis meny</span></div>
</a>

<div id="topmenu">
    <a class="fancyButtonLink ${request.action == 'Recipes.favorites' ? 'active' : ''}" href="@{Recipes.favorites()}"
       id="">
        <div class="wrapper"><span>Mine oppskrifter</span></div>
    </a>
    <a class="fancyButtonLink ${request.action == 'Recipes.index' ? 'active' : ''}" href="@{Recipes.index()}" id="">
        <div class="wrapper"><span>Alle oppskrifter</span></div>
    </a>
    <a class="fancyButtonLink ${request.action == "Menus.index" ? 'active' : ''}" href="@{Menus.index()}">
    <div class="wrapper"><span>Menyer</span></div>
    </a>
    <a class="fancyButtonLink ${request.controller == "ShoppingLists" ? 'active' : ''}"
       href="@{ShoppingLists.showCurrent()}" id="">
        <div class="wrapper"><span>Handlelapp</span></div>
    </a>
    <a class="fancyButtonLink ${request.action == "Recipes.showCurrent" ? 'active' : ''}"
       href="@{Recipes.showCurrent()}" id="">
        <div class="wrapper"><span>Dagens oppskrift</span></div>
    </a>
    <a class="fancyButtonLink ${request.action == "Users.preferences" ? 'active' : ''}" href="@{Users.preferences()}">
    <div class="wrapper"><span>Innstillinger</span></div>
    </a>

    </ul>

</div>

#{if request.action ==  'Recipes.favorites' }
    <a class="fancyButtonLink ${request.action == "Recipes.form()" ? 'active' : ''}" style="display: block; margin-top: 20px;" href="@{Recipes.form()}" id="">
        <div class="wrapper smallButton"><span>Ny oppskrift</span></div>
    </a>
#{/if}