#{extends 'main.html' /}
#{set title:'Home' /}

#{if recipes}
<h3>Fjern avgrensninger</h3>
<div id="TagCloud">
		<ul>
            #{list items:selectedTags, as:'tag'}
			    <li>
					<a href="@{Application.index(utils.TagUtil.mergeAndCreateArray(selectedTags, tag.nameHash))}">
						<span>${tag.name}</span>
					</a>
				</li>
            #{/list}
            <!--
				<li>
				<a href="/under100/?page=favoritter">
				<span>
					Favoritter
				</span>
				</a>
			</li>  -->
		</ul>
</div>
<br/>
<h3>Avgrense:</h3>
<div id="TagCloud">
		<ul>
            #{list items:availableTags, as:'tag'}
			    <li>
					<a href="@{Application.index(utils.TagUtil.mergeAndCreateArray(selectedTags, tag.nameHash))}">
						<span>${tag.name}</span>
					</a>
				</li>
            #{/list}
			<!--	<li>
				<a href="/under100/?page=favoritter">
				<span>
					Favoritter
				</span>
				</a>
			</li> -->
		</ul>
</div>

<div id="recipe_container">
		<div id="recipeList">
            #{list items:recipes, as:'recipe'}
                #{display recipe:recipe, as:'teaser' /}
            #{/list}
		</div>
</div>

#{/if}

#{else}
    <div class="empty">
        Finner ingen oppskrifter!
    </div>
#{/else}