<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
       <div id="header">
            <div id="logo">
                <a class="logolink" href="@{Application.index()}">Kokboka.</a>
            </div>
            <ul id="tools">
                <li>
                    <a href="#">Logg in for å redigere</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">om</span>
                <h2>Hold orden på oppskrifter, menyer og handlelister</h2>
            </div>
        </div>
      <div id="main">
            #{doLayout /}
        </div>

        <p id="footer">
            Kokboka er noe Anja og Calle bruker for å holde orden på oppskriftene sine.
        </p>    </body>
</html>




