
<head>
	<meta charset="utf-8">
	<meta name="viewport"  content="initial-scale=1.0" > <!-- content="width=device-width, initial-scale=1">-->
	<title>Kokboka</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

    <script src="@{'/public/javascripts/middagsplanleggerMobile.js'}"></script>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
     <meta name="google" value="notranslate"/>
     <!-- Pinned Site -->


    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/kokboka/main.css'}"/>



<link rel="stylesheet" href="@{'/public/stylesheets/jquery.tagit.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/tagit.ui-kokboka.css'}">



</head>


<body>

    #{doLayout /}


</body>
</html>





